@import '../../styles/_variables.css';




.header {
    background-image: url('../../assets/images/bg-pattern-intro-mobile.svg');
    background-position: 35% 35%;
    background-repeat: no-repeat;
    background-color: var(--light-red);
    border-bottom-left-radius: 4rem;
    font-family: var(--ubuntu-font);
    padding: 55px 25px;
    color: var(--white);
    height: 55vh;
}

.header__info {
    margin-top: 5.5rem;
}

.header__info h2 {
    text-align: center;
    font-size: 2.3rem;
    line-height: 3rem;
}

.header__info p {
    margin: 1rem;
    text-align: center;
    font-size: 18px;
    color: var(--grayish-blue);
}

.header__btns {
    margin-top: 2.3rem;
    text-align: center;
}

.header__btns button {
    margin: 0 1rem;
    background: none;
    color: var(--white);
    font-size: var(--body-text-size);
    font-weight: 700;
    border: 1px solid var(--white);
    padding: 10px 20px;
    border-radius: 2rem;
}

.header__btns button:first-child {
    background-color: var(--white);
    color: var(--light-red);

}

main {
    font-family: var(--overpass-font);
    overflow-x: hidden;
    overflow-y: hidden;
}

.main__svg {
    margin: 3rem 0;
}

.card {
    text-align: center;
    line-height: 2rem;
}

.title {
    margin: 5rem 0 0;
    text-align: center;
}

.card__content h2,
.title {
    font-size: 30px;
    font-weight: 600;
}

.card__content {
    margin: 0 1.5rem 2rem;
}

.card__content h2 {
    margin-bottom: 1.5rem;
}

.content-background {
    height: 75vh;
    margin-top: 16rem;
    position: relative;
    background-color: var(--very-dark-desaturated-blue);
    border-bottom-left-radius: 6rem;
    border-top-right-radius: 5rem;

}

.circles {
    width: 650px;
    height: 75vh;
    object-position:-8rem -13.5rem;
}

.phones {
    position: absolute;
    top: -180px;
}

.phones img {
    height: 400px;
    width: 400px;
}

.content-background__info {
    position: absolute;
    bottom: 10%;
    color: var(--white);
    text-align: center;
    line-height: 2rem;
    padding: 0 2.5rem;
}

.content-background__info h2 {
    font-size: 36px;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
}

.laptop__img {
    margin-top: 4rem;
    margin-bottom: 3rem;
    position: relative;
    right: 12%;
}

.footer {
    background-color: var(--very-dark-black-blue);
    padding-bottom: 4rem;
    border-top-right-radius: 6rem;
}

.footer__logo {
    display: block;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.footer__list {
    color: white;
    font-family: var(--ubuntu-font);
}

.footer__list a {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
}

.footer__list li {
    color: var(--grayish-blue);
    margin-top: 1rem;
}
