@import '../../styles/_variables.css';

nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.menu__btn {
    display: none;
}

.menu__btn-ativo {
    display: block;
}

.menu__content {
    display: none;
    position: absolute;
    left: 35%;
    top: 15%;
    text-align: center;
    z-index: 1;
    background-color: blue;
    padding: 25px;
    font-size: var(--body-text-size);
}

.menu__content-active {
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  li a, .dropdown__btn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown__content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

   .dropdown__content-active{
    display: block;
  }
  

  .btns {
    display: flex;
    flex-direction: column;
  }

 input[type="checkbox"] {
    opacity: 0;
}